<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>Notable:</strong>
  <%= @note.notable_id %>
</p>

<p>
  <strong>Notable type:</strong>
  <%= @note.notable_type %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
